apiVersion: kubedb.com/v1
kind: PerconaXtraDB
metadata:
  name: coreos-prom-px
  namespace: demo
spec:
  version: "8.0.40"
  deletionPolicy: WipeOut
  storage:
    storageClassName: "standard"
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: 1Gi
  monitor:
    agent: prometheus.io/operator
    prometheus:
      serviceMonitor:
        labels:
          release: prometheus
        interval: 10s