apiVersion: ops.kubedb.com/v1alpha1
kind: MSSQLServerOpsRequest
metadata:
  name: msops-reconfigure-standalone
  namespace: demo
spec:
  type: Reconfigure
  databaseRef:
    name: ms-standalone
  configuration:
    configuration:
      secretName: new-custom-config
  timeout: 5m
  apply: IfReady