apiVersion: kubedb.com/v1
kind: Postgres
metadata:
  name: custom-postgres
  namespace: demo
spec:
  version: "13.13"
  configuration:
    secretName: pg-custom-config
  storage:
    storageClassName: "standard"
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: 1Gi
