apiVersion: ops.kubedb.com/v1alpha1
kind: SolrOpsRequest
metadata:
  name: sl-reconfigure-custom-config
  namespace: demo
spec:
  apply: IfReady
  configuration:
    configuration:
      secretName: sl-combined-custom-config
  databaseRef:
    name: solr
  type: Reconfigure